__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

venv/
env/
.env/
.venv/
ENV/
env.bak/
venv.bak/

.env

# Docker
db_data/
postgres_data/

.DS_Store

.ml-latest/
.ml-latest-small/

ml-latest.zip

models/ncf_model.pth
models/encoders.pkl